body{
    margin:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    height: 100vh;
   
 }
.nav{
    background-color: gray;
    color: whitesmoke;
    /* padding: 1; */
    margin: 8px;
    width: auto;
    height: auto;
    text-align: center;
    font-family: system-ui;
}
#display{
    width: 100%;
    padding:20px;
    font-size: 5rem;
    text-align: right;
    border:none;
    background-color:hsl(0, 0%, 40%);
    color:orange;
}
.btn{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    padding:25px;

}
.orangebtn{
    background-color:rgb(255, 128, 0);
}
.equalsb{
    /*to increase height of clear and equals button*/
    height:60px;
}
.container{
    max-width: 500px;
    background-color:hsl(0, 0%, 15%);
    border-radius: 5px;
    overflow: hidden;

}
button{
    width:70px;
    height: 60px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    background-color:hsl(0, 0%, 15%);
    color: white;
    border:none;
 }
button:hover{
    background-color:hsl(0, 0%, 25%);
    border-radius: 10%;
}
/*to flass the colour on clicking*/
button:active{
    background-color:hsl(0, 0%, 40%);
}
.orangebtn:hover{
    background-color:rgb(246, 164, 21);
}
.orangebtn:active{
    background-color:rgb(236, 200, 163);
}

